.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cartInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.cartInfoLabel {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

.cartInfoInput {
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.cartProducts {
  padding: 10px 20px;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartProductsBlock {
  width: 100%;
  padding: 10px;
}

.cartProductAmount {
}

.cartBlockButton {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.cartButton {
  padding: 10px 15px;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.cartButton:focus {
  color: white;
  background-color: black;
}

.cartButton:hover {
  color: white;
  background-color: black;
}
