.productMini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 150px;
  height: 120px;
  padding: 10px;
  border: 1px solid black;
}

.productMiniBtn {
  padding: 10px 15px;
  cursor: pointer;
}

.productMiniImg {
  width: 100px;
  height: 100px;
}

.productNotification {
  position: absolute;
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
